.container {
  max-width: 890px;
  margin: 0 auto;
  padding: 1rem 1rem;
  display: flex;
}

.center.horizontal {
  display: flex;
  justify-content: center;
  text-align: center;
}

.center.vertical {
  display: flex;
  align-items: center;
}

.bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  z-index: 0;
  filter: brightness(.3) contrast(.9) blur(10px);
}

#inner>*:not(.bg) {
  z-index: 1;
}